body{
  background-color: rgb(200,200,200);
  color: rgb(64,64,64)
}
img {
  height: 300px;
}

header{
  position: relative;
  background-color: white;
  height: 80px;
  border-radius: 10px;
}
p, ol, ul, .about, .film, header{
  font-family: "Courier New", "Roboto Mono", monospace;
  line-height: 25px;
}
h3, h4, h5, .submit-bottom, button{
  font-family: "Courier",  "Courier New", monospace;
  font-style: italic;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  border-radius: 10px;
  color: white;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: black;
}

button:hover{
  background-color: darkred;
}

/* Header */
#logo{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 30px;
}

/* To create button using Java Script */
#submit-top{
  position: absolute;
  text-align: center;
  padding: 3px;
  top: 25px;
  right:5px;
  width: 210px;
  height: 30px;
  border-style: solid;
  border-radius: 10px;
}

/* Video */
.vid-section{
  display: flex;
  flex-direction: column;
}

.vid-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter";

}

.vid-con{
  display: flex;
  justify-content: center;
}

.about{
  padding-right: 100px;
  text-align: center;
  width: 250px;
}

.vid-description{
  font-size: 20px;
  line-height: 24px;
  padding-left: 70px;
  padding-right: 70px;

}

/* Content */
.intro{
  font-weight: bold;
  padding: 5px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}

.rationale{
  font-size: 90%;
  line-height: 24px;
  padding-left: 70px;
  padding-right: 70px;
}

.process{
  font-size: 100%;
  line-height: 24px;
  padding-left: 140px;
  padding-right: 140px;
}

/* Interviewees */
.interviewees{
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  padding-right: 70px;
}

.years{
  display: flex;
  flex: 1;
  justify-content: space-evenly;

}
.each-year{
  padding: 15px;
  text-align: center;
  margin: 10px;
  background-color: rgb(220,220,220);
}

.headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
}

/* Other films */

.FFContainer{
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 50px;
  border-style: solid;
}

.other-videos-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.other-vids-title{
  text-align: center;
}
.other-videos{
  display:flex;
  flex: 1;
  padding-top: 50px;
}

.film{
    top: 10px;
    margin: 20px;
    text-align: center;
}

.vid-others{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 103px;
}

/* Prompt to submit at the bottom */
.submit-bottom{
  font-size: 150%;
  text-align: center;
  padding: 50px;
}

/* Footer */
footer{
  display: flex;
  flex:1;
  height:210px;;
  justify-content: space-around;
  background-color: rgb(32,32,32);


}
.footer-content{
  width: 300px;
  height: 205px;
  color: white;
}
