img {
  height: 300px;
}

header{

}

footer{

}
.vid-section{
  display: flex;
  flex-direction: column;
}
.vid-title{ /*Make title centered*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.vid-description{
  font-size: 20px;
  line-height: 24px;
  /* TBD */
  /* padding-left: 20px;
  padding-right: 20px; */
}

.interviewees{
  display: flex;
  flex-direction: column;
}

.years{
  display: flex;
  flex: 1;
  justify-content: space-evenly;

}

.freshman{
  background-color: #f1f1f1;
  margin: 10px;
}

.sophomore{
  background-color: #f1f1f1;
  margin: 10px;
}

.junior{
  background-color: #f1f1f1;
  margin: 10px;
}

.senior{
  background-color: #f1f1f1;
  margin: 10px;
}
.headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
}

.FFContainer{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.other-videos-container{
  display: flex;
  flex-direction: column;

}
.other-videos{
  display:flex;
  flex: 1;
}

.film{
    /* flex: 1; */
    top: 10px;
    margin: 10px;
    text-align: center;
    /* width: 33%; */
  /* background-color: DodgerBlue; */
}

.vid-others{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
}
