*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  --background-color: #fdfaf5;
  --header-height: 50px;
  --shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05); 
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;

  --primary-color: #F580AB;
  --secondary-color: #D81159;

}
body{
  background-color: var(--background-color);
  background-image: radial-gradient(circle, #d4d0c5 1.2px, transparent 1.2px);
  background-size: 15px 15px;
  display: flex;
  width: 100vw; 
  height: 100vh;
  gap: 1rem;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
}

#side-bar-icon{
  position: absolute;
  top: .5em;
  left: .5em;
}

#nav-bar{
  position: fixed;
  top: 0;
  left: -100%;
  width: 55%;
  height: 100%;
  margin: .5em;
  transition: left 300ms ease-out;
  z-index: 1000;
}

#nav-bar.mobile{
  left: 0;
}

#overlay{
  background: rgba( 0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

#nav-bar.mobile ~ #overlay{
  display: block;
}
#close-nav-icon{
  position: absolute;
  top: .2em;
  right: 1em;
}

.to-do-list{
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
}

#header{
  background-color: white;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: .7em 0 0 0;
  padding: .2em 0;
}

#list-container{
  list-style-type: none;
  background-color: white;
  width: 90%;
  padding: 1.5em .7em;
  border-radius: 7px;
}

.checkbox{
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
}

.to-do-item > a{
  display: flex;
  gap: .5em;
  align-items: center;
  margin-bottom: 2em;
}

.to-do-text{
  flex: 1;
  border-bottom: 1px dashed black;
  padding-left: 1em;
}

.to-do-blanks{
  flex: 1;
  height: 1em;
  border-bottom: 1px dashed black;
  padding-left: 1em;
}


.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  height: 90%;
  box-shadow: var(--shadow);
  width: 100%;
}

.ribbon {
  --f: .5em; /* control the folded part*/
  --r: 2em; /* control the ribbon shape */
  
  /* position: absolute; */
  /* left: 20px; */
  top: calc(-1*var(--f));
  padding: 0 0 .2em 0 ;
  background: #BF4D28;
  border-left: var(--f) solid #0005;
  border-bottom: var(--r) solid #0000;
  clip-path: polygon(var(--f) 0,100% 0,100% calc(100% - var(--r)),calc(50% + var(--f)/2) 100%, var(--f) calc(100% - var(--r)),var(--f) var(--f),0 var(--f));
}


#index{
  text-align: center;
}

main{
  flex: 1;
}

#project-section{
  display: grid;
  grid-template-columns: repeat(1, min(300px, 450px));
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem auto;
}

.project-polaroid{
  width: 100%;
  height: auto;
  background-color: white;
  padding: 0 0 1rem 0;
  box-shadow: 0 4px  10px 0 rgba( 0, 0, 0, 0.3 ), 0 0 4rem rgba( 255, 255, 235, 0.5 ) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tape::before {
    content:"";
    display:block;
    height: 30px;
    margin: -15px auto 5px auto;
    width: 200px;
    background-color: var(--tape-gray);
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
    opacity: 0.5;
    box-shadow:0.5px 0.5px 1px rgb(0,0,0,0.2);
}

.num{
  width: 100%;
  text-align: left;
  padding-left: .2rem;
}

.project-img{
  width: 90%;
  height: auto;
  margin: 0 .5rem;
}

.index-img{
  object-fit: cover;
}

.rotate1{
  transform: rotate(.7deg);
}

.rotate2{
  transform: rotate(-.5deg);
}

.rotate3{
  transform: rotate(-.7deg);
}

.rotate4{
  transform: rotate(.4deg)
}
figcaption{
  padding-top: 1rem;
}
@media (min-width: 624px) {

  header{
    position: static;
    width: 20%;
    height: 100vh;
  }
  #nav-bar{
    left: 0;
    width: 100%;
    position:static;
  }
  #side-bar-icon{
    display: none;
  }

  #close-nav-icon{
    display: none;
  }

  #project-section {
    grid-template-columns: repeat(2, minmax(250px, 400px));
    row-gap: 3rem; 
  }
}

@media (min-width: 1025px) {
  #project-section {
    grid-template-columns: repeat(3, minmax(250px, 400px));
    row-gap: 3rem;
  }
}
