
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: system-ui;
}

#spine{
    width: 15%;
    max-width: 120px;
    height: 100%;  
    flex-shrink: 0;
    background-color: black;  
}

/* #cover-itself{
    flex: 1;
    background-color: #F580AB;
    background-image: linear-gradient(to right, #D81159, #D81159 14px, #F580AB 14px, #F580AB );
    background-size: 28px 100%;
    height: 100%;
} */

#cover-itself {
  /* --stripe-width: clamp(30px, 4vw, 60px);
  flex: 1;
  background-color: #F580AB;
  background-image: linear-gradient(
    to right,
    #D81159,
    #D81159 calc(var(--stripe-width) / 2),
    #F580AB calc(var(--stripe-width) / 2),
    #F580AB
  );
  background-size: var(--stripe-width) 100%;
  height: 100%; */
  flex: 1;
  background-image: url(../images/background/3_mei_7.jpg);
  background-size: cover;
  /* background-position: center top;  */
} 

#outer-box{
    width: fit-content;
    border: 3px solid black;
    background-color: white;
    margin: 12rem auto 0 auto;
}

#middle-box{
    border: 2px solid black;
    margin: .3rem .4rem;
}

#inner-box{
    text-align: center;
    padding: 5px;
}

#title{
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: .4em;
}

.name-label{
    font-size: 1.1em;
    font-family: Caveat;
}

hr{
    width: 90%;
    margin: 0 auto;
}

#sheets{
    font-size: .35em;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 2px;
    padding: 0 0 2px 4px;
}


@media (min-width: 768px){
    #title{
        font-size: 2rem;
    }

    .name-label{
        font-size: 2rem;
    }
    
    #sheets{
        font-size: .8rem;
    }

    #middle-box{
        margin: .4rem .5rem;
    }
}

@media (min-width: 1024px){
    #title{
        font-size: 3rem;
    }

    .name-label{
        font-size: 3rem;
    }

    #sheets{
        font-size: .8rem;
    }
}
