.project-body{
  background-color: white;
  padding: 40px;
}

.overview-container{
  /* padding:20px; */
}

/* Chapter Font */
@font-face {
  font-family: Playfair;
  src: url(../font/Playfair.ttf);
}

.header{
  text-align: center;
  font-size: 150%;
  font-style: italic;
  color: #870d29;
  font-weight: bold;
}

.overview{
  background-color: white;
  padding:20px;
  text-align: center;
  font-size: 120%;
}

.project-heading{
  font-family: 'Verdana',Arial, sans-serif;
  font-weight: 600;
  padding-bottom: 5px;
}

.text, ul{
  line-height: 1.7;
  /* font-family: 'Helvetica Nue', Arial, sans-serif; */
  font-size: 100%;
}

.project-img1{
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-img2{
  width: 50%;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-img3{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-img4{
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.test2{
  width: 100%;
  /* max-width: 800px; */
  height: 200px;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}



.text-img-row{
  display:flex;
  gap:30px;
  align-items:center;
  margin: 10px 0;
  flex-direction: row;
}

.text-column{
  flex:1;
}

.image-column{
  flex:1;
}

.text-column2{
  flex: 2
}

.image-column2{
  flex:1;
}

.image-column img{
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

iframe {
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px auto;
  display: block;
}


.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 30px 0;
  }


.image-gallery2{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 30px 0;
}

.project-img6 {
  width: 70%;
  max-width: 1000px;
  height: auto;
  object-fit: cover;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

table {
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 30px auto;
}

td {
  height: 70px;
  border: 1px solid black;
  padding: 5px;

}


/* Mobile: stack them vertically */
@media(max-width: 700px){
  .text-img-row {
    flex-direction: column;
  }
  iframe{
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    display: block;
  }
  .project-img2{
    width: 90%;
  }
  .project-img6{
    width: 90%;
  }
}
