/* CSS Reset */
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root{
  /* Page design variables */
  --main-line-color: hsla(234, 62%, 86%, .4);
  --side-line-color: hsl(350, 100%, 91%);
  --paper-color: #fcfcfc;
  --ink-color: #280003;
  --line-thickness: 3px;
  --top-space: 2lh;

  /* Overarching Styling Variables */
  --background-color: #fdfaf5;
  --header-height: 50px;
  --shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05); 

  --primary-color: #F580AB;
  --secondary-color: #D81159;
  --accent-color1: #280003; 
  --accent-color2: #4B88A2;
  --accent-color3: #00916E;
}

body{
  font-family: Caveat, cursive;
  width: 100vw; 
  min-height: 100vh;
  color: var(--accent-color1);
  display: flex;
  justify-content: center;
}


@font-face {
  font-family: papernotes;
  src: url(../font/Papernotes.ttf);

}

/* Header Styling*/
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: auto;
  max-height: 600px;
  /* max-height: 100vh; */
  /* overflow-y: auto; */
}

#side-bar-icon{
  position: absolute;
  font-size: clamp(1.3rem, 1.3rem + .5vw, 2.5rem);
  top: 4rem;
  left: clamp(.9rem, .9rem + 2.6vw, 3.5rem);
  color: var(--secondary-color);
}

#nav-bar{
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  max-width: 350px;
  height: 100%;
  transition: left 300ms ease-out;
  z-index: 1000;
  padding: 1rem .5rem;
  max-height: 100vh;
  overflow-y: auto;
}

/* Make navbar visible */
#nav-bar.visible{
  left: 0;
}

#overlay{
  background: rgba( 0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

#nav-bar.visible ~ #overlay{
  display: block;
}

#close-nav-icon{
  position: absolute;
  top: clamp(2.7rem, 2.7rem + .4vw ,3.7rem);
  right: clamp(1.7rem, 1rem + .7vw, 3rem);
  color: var(--accent-color2);
}

/* Styling for nav bar links */
.to-do-list{
  background-color: #6882d1;
  background-image: url("../images/background/crisp-paper-ruffles.png");
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
}

#nav-bar-header{
  background-color: white;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  font-size: clamp(1.5rem, 1.5rem + .3vw , 2.5rem );
  margin: .7em 0 0 0;
  padding: .2em 0;
}

#list-container{
  list-style-type: none;
  background-color: white;
  width: 90%;
  padding: 1.5em .7em .5em .7em; 
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Add checkbox to visualise to-do-list item */
.checkbox{
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  position: relative;
}

/* Add tick to checkbox when user hovers over a nav bar link */
.to-do-item:hover .checkbox::after{
  position: absolute;
  content: "✓";
  font-size: 1.5em;
  top: -.5em;
}

.to-do-item > a{
  display: flex;
  gap: .5em;
  align-items: center;
  margin-bottom: 2em;
  color: black;
}

.to-do-text{
  flex: 1;
  border-bottom: 1px dashed black;
  padding-left: clamp(.5rem, .5rem + 1vw , 1rem);
  font-size: clamp(.8rem, 1.2rem + .2vw , 2rem);
  text-transform: uppercase;
}

/* Empty nav-bar sections to fill the space visually */
.to-do-blanks{
  flex: 1;
  height: 1em;
  border-bottom: 1px dashed black;
  padding-left: 1em;
}

/* Make main appear like lined notebook page */
main{
  width: calc(100% - 2 * clamp(1rem, 1rem + 1vw ,3rem));
  height: 100%;

  background: var(--paper-color);
  margin: clamp(1rem, 1rem + 1vw ,3rem);

  padding: calc(var(--top-space) - 0.5lh) 1rem 1rem 3.5rem;
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--ink-color);
  background-image: 
    /* the red line */ linear-gradient(
      90deg,
      transparent,
      transparent 2rem,
      var(--side-line-color) 2rem,
      var(--side-line-color) 2.25rem,
      transparent 2.25rem
    ),
    /*  The top space  */
      linear-gradient(
        var(--paper-color),
        var(--paper-color) var(--top-space),
        transparent var(--top-space)
      ),
    /* the blue lines */
      repeating-linear-gradient(
        transparent,
        transparent calc(1lh - var(--line-thickness)),
        var(--main-line-color) calc(1lh - var(--line-thickness)),
        var(--main-line-color) 1lh,
        transparent 1lh
      );
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
}

.page-header{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: .5rem;
}

#index-page-header {
  margin-top: -2rem;
  color: #104547;
} 

#index-page-header h1{
  text-transform: uppercase;
}

.page-title{
  text-align: center;
  font-family: Caveat;
  font-size: clamp(2rem, 2rem + 1.5vw, 4rem);
}

.drawing{
  color: var(--secondary-color);
  font-weight: bold;
  padding-left: .5rem;
}

.project-link {
  display: block; 
  color: inherit;
}

#project-section{
  display: grid;
  grid-template-columns: repeat(1, min(350px, 100%));
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto;
}

/* Make index of projects appear like polaroid images */
.project-polaroid{
  width: 100%;
  height: auto;
  background-color: white;
  padding: 0 0 0 0;
  box-shadow: 0 4px  10px 0 rgba( 0, 0, 0, 0.3 ), 0 0 4rem rgba( 255, 255, 235, 0.5 ) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
}
               
/* Add tape to each polaroid image */
.tape::before {
  content:"";
  display:block;
  height: clamp(1.3rem, 1rem + .2vw ,2rem);
  margin: -10px auto 5px auto;
  width: clamp(7rem, 7rem + 5vw , 13rem);

  background-color: #E5E5F7;
  background-image:  radial-gradient(var(--primary-color) 3.15px, transparent 3.15px), radial-gradient(#280003 3.15px, var(--accent-color3) 3.15px);
  background-size: 42px 42px;
  background-position: 0 0,25px 25px;
  border-right: 1px dotted var(--primary-color);
  border-left: 1px dotted var(--primary-color);
  opacity: 0.7;
  box-shadow:0.5px 0.5px 1px rgb(0,0,0,0.2);
}

.project-img{
  width: 90%;
  height: auto;
  margin: 0 .5rem;
}

.index-img{
  object-fit: cover;
}

/* Rotate images slightly for a more scrap book feel */
.rotate1{
  transform: rotate(.7deg);
}

.rotate2{
  transform: rotate(-.5deg);
}

.rotate3{
  transform: rotate(-.7deg);
}

.rotate4{
  transform: rotate(.4deg)
}

figcaption{
  color: #104547;
  font-size: clamp(1.5rem, 1.5rem + .3rem, 3rem);
  font-weight:bold;
  text-align: center;
}

@media (min-width: 624px) {
  .page-header{
    flex-direction: row;
  }

  /* Increase columns to 2 for tablet sized screens */
  #project-section {
    grid-template-columns: repeat(2, minmax(250px, 400px));
    row-gap: 3rem; 
  }

  /* Adjust left margin to be larger on wider screens */
  main{
    padding: calc(var(--top-space) - 0.5lh) 2rem 1rem 4.5rem;
    background-image: 
      /* the red line */ linear-gradient(
        90deg,
        transparent,
        transparent 3rem,
        var(--side-line-color) 3rem,
        var(--side-line-color) 3.25rem,
        transparent 3.25rem
      ),
      /*  The top space  */
        linear-gradient(
          var(--paper-color),
          var(--paper-color) var(--top-space),
          transparent var(--top-space)
        ),
      /* the blue lines */
        repeating-linear-gradient(
          transparent,
          transparent calc(1lh - var(--line-thickness)),
          var(--main-line-color) calc(1lh - var(--line-thickness)),
          var(--main-line-color) 1lh,
          transparent 1lh
        );
  }
}


@media (min-width: 1025px) {
  /* Increase columns to 3 for computer sized screens */
  #project-section {
    grid-template-columns: repeat(3, minmax(250px, 400px));
    row-gap: 3rem;
  }

  /* Adjust left margin to be larger on wider screens */
  main{
    padding: calc(var(--top-space) - 0.5lh) 3rem 1rem 5.5rem;
    background-image: 
      /* the red line */ linear-gradient(
        90deg,
        transparent,
        transparent 4rem,
        var(--side-line-color) 4rem,
        var(--side-line-color) 4.25rem,
        transparent 4.25rem
      ),
      /*  The top space  */
        linear-gradient(
          var(--paper-color),
          var(--paper-color) var(--top-space),
          transparent var(--top-space)
        ),
      /* the blue lines */
        repeating-linear-gradient(
          transparent,
          transparent calc(1lh - var(--line-thickness)),
          var(--main-line-color) calc(1lh - var(--line-thickness)),
          var(--main-line-color) 1lh,
          transparent 1lh
        );
  }

}
