:root{
  /* Overarching Styling Variables */
  --background-color: #fdfaf5;  

  --primary-color: #F580AB;
  --primary-color-rgb: 245, 128, 171;

  --secondary-color: #D81159;
  --secondary-color-rgb: 216, 17, 89;

  --accent-color1: #280003;
  --accent-color1-rgb: 40, 0, 3 ;
  
  --accent-color2: #4B88A2;
  --accent-color2-rgb: 75, 136, 162;
}

/* Define backgrounds for each page */
#index-background{
  background-color: var(--primary-color);
  background-image: url(../images/background/pink-plaid.jpeg);
}

#safesound-background{
  background-color: var(--primary-color);
  background-image: url(../images/background/blue-stars.jpeg);
}

#walkwithyou-background{
  background-color: var(--primary-color);
  background-image: url(../images/background/purple-flowers.jpeg);
}
 
#desertwhispers-background{
  background-color: var(--primary-color);
  background-image: url(../images/background/green-flora.jpeg);
}
 
#culinarychronicles-background{
  background-color: var(--primary-color);
  background-image: url(../images/background/black-flowers.jpeg);
}
 
#digitalwaste-background{
  background-color: var(--primary-color);
  background-image: url(../images/background/brown-diamonds.jpeg);
}
 
#switchnotes-background{
  background-color: var(--primary-color);
  background-image: url(../images/background/red.jpeg);
}
 
#aboutme-background{
  background-color: var(--primary-color);
  background-image: url(../images/background/pink-flowers-hibiscus.jpeg);
}
