.me-me-me{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 100px;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.headshot-container{
  display: flex;
  justify-content: center;
}

.rhea-img{
  width: 90%;
}

#about-me{
  width: 60%;
  /* font-size: 120%; */
  font-size: 1.7vw;
  line-height: 30px;
  padding-left: 10px;
}

#likes-dislikes{
  display: flex;
  flex-direction: row;
}

@media (max-width: 900px){

  .me-me-me{
    display: flex;
    flex-direction: column;
    /* border-style: solid; */
  }
  .rhea-img{
    width: 70%;
  }

  #about-me{
    width: 100%;
    font-size: 100%;
  }
}
