header{
  text-align: center;
  font-size: 150%;
  line-height: 3;
}

/* Colour background light brown */
body{
  background-color: #FFEBCD;
}

img{
  width:400px;
  height:auto;
}

#welcome{
  display: flex;
  justify-content: center;
}

.fingers{
  width: 100%;
}

.title{
  font-size: 150%;
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-top-style: solid;
  border-top-color: black;
  border-bottom-style: solid;
  border-bottom-color: black;
}

.arrow {
  font-size: 300%;
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 10px;
}

/* Move arrow up and down */
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 10px;
  }
  50% {
    bottom: 50px;
  }
}

.day{
  display: flex;
  flex-direction: column;
}

.segment{
  display: flex;
  flex-direction: row;
}

.pic{
  padding: 20px;
}

.info{
  font-size: 150%;
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
}

footer{
  padding: 20px;
  height: 50px;
  text-align: center;
  font-size: 150%;
  background-color: #DEB887;
}
